Source: ros-lunar-gpsd-client
Section: misc
Priority: extra
Maintainer: Timo Roehling <timo.roehling@fkie.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), libgps-dev, pkg-config, ros-lunar-catkin, ros-lunar-gps-common, ros-lunar-roscpp, ros-lunar-sensor-msgs
Homepage: http://ros.org/wiki/gpsd_client
Standards-Version: 3.9.2

Package: ros-lunar-gpsd-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: connects to a GPSd server and broadcasts GPS fixes using the NavSatFix message
